body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100vw;
  height: 100vh;
}

.click-block {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.74);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 125px;
  padding: 1rem;
  position: absolute;
}
